.animationTypeTxt {
	font-family: Helvetica Neue;
	font-size: 54px;
    color: white;
    text-align: center;
}

.HDI {
	font-family: Helvetica Neue;
    font-size: 36px;
    font-weight: bold;
	color: white;
	text-align: center;
}

.subTitle{
   	font-family: Helvetica Neue;
   	font-size: 24px;
   	color: #3498DB;
   	text-align: center;
}

.info{
   	font-family: Helvetica Neue;
   	font-size: 10px;
   	color: white;
	text-align: left;
	focusable: false;
}

.subSubTitle{
   	font-family: Helvetica Neue;
   	font-size: 18px;
   	color: #005EA8;
   	text-align: center;
}
.buttonAction {
    iconFrames: 4;
    style: toolbar;
    stroke: grey;
    focusable: false;
}

.button1 {
	font-family: Helvetica Neue;
	font-size: 14px;
	font-weight: bold;
	stroke: grey;
	focusable: true;
}

.placeholder{
	font-family: Helvetica Neue;
	font-size: 14px;
	stroke: lightgrey;
	focusable: false;
}
.input_field {
	font-family: Helvetica Neue;
	font-size: 14px;
	stroke: black;
	focusable: true;
}

.floatinglabel {
	font-family: Helvetica Neue;
	font-size: 9px;
	stroke: blue;
	focusable: false;
}