.animationTypeTxt {
	font-family: Helvetica Neue;
	font-size: 54px;
    color: white;
    text-align: center;
}

.HDI {
	font-family: Helvetica Neue;
    font-size: 36px;
    font-weight: bold;
	color: white;
	text-align: center;
}

.subTitle{
   	font-family: Helvetica Neue;
   	font-size: 24px;
   	color: #3498DB;
   	text-align: center;
}

.subSubTitle{
   	font-family: Helvetica Neue;
   	font-size: 18px;
   	color: #005EA8;
   	text-align: center;
}
.buttonAction {
    iconFrames: 4;
    style: toolbar;
    stroke: grey;
    focusable: false;
}